<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'includes/stylesheets.html.twig' %}
    </head>
    <body>
        {% block body %}
            {% include 'includes/nav.html.twig' %}
            <div class="container-fluid">
            {% block content %}
            {% endblock %}
            </div>
            {% include 'includes/javascripts.html.twig' %}
        {% endblock %}
    </body>
</html>
